@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateY(2rem);
    text-shadow: none;
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  10% {
    text-shadow: -2px 0 #e9cdcd, 0 2px #e9cdcd, 2px 0 #e9cdcd, 0 -2px #e9cdcd;
  }
  30% {
    text-shadow: none;
  }
  100% {
    opacity: 0;
    -transform: translateY(2rem);
  }
}

@mixin button-base {
  @include monospace;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0;
  color: white;
  background-color: #373737;
  font-weight: bold;
  font-size: 0.9rem;
}

.ui-flash {
  overflow: hidden;
  transform: translateY(2rem);
  line-height: 1;
  &.animate {
    animation: slideInOut 3s;
  }
}

.ui-text {
  @include monospace;
  color: white;
  font-weight: bold;
  pointer-events: none !important;

  &--black {
    color: black;
  }
}

.ui-tool-button {
  @include button-base;

  &:hover {
    cursor: pointer;
    filter: brightness(93%);
  }

  border: 2px solid transparent;
  &--active {
    border-color: #b6b6b6;
  }
}

.ui-box {
  border: 2px solid white;
  color: white;
  @apply p-4;
}
