@mixin button-base {
  @include monospace;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0;
  color: white;
  background-color: #373737;
  font-weight: bold;
  font-size: 0.9rem;
}

.ui-markup {
  @include monospace;
  color: white;
  font-weight: bold;
}
.ui-text {
  @extend .ui-markup;
  pointer-events: none !important;
}

.ui-tool-button {
  @include button-base;

  &:hover {
    cursor: pointer;
    filter: brightness(93%);
  }

  transition: box-shadow 150ms linear;

  box-shadow: -2px -4px 0px 0px #0006 inset,
    2px 2px 0px 0px rgba(206, 206, 206, 0.467) inset;

  &[aria-pressed='true'],
  &:active {
    box-shadow: -2px -2px 0px 0px rgba(206, 206, 206, 0.467) inset,
      2px 2px 0px 0px #0006 inset;
  }

  &--danger {
    background: #990b0b;
    color: white;
  }
  &--light {
    background: #bababa;
    color: #000000;
  }
}

.ui-box {
  border: 2px solid white;
  color: white;
  @apply p-4;
}

@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateY(110%);
    text-shadow: none;
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  10% {
    text-shadow: -2px 0 #e9cdcd, 0 2px #e9cdcd, 2px 0 #e9cdcd, 0 -2px #e9cdcd;
  }
  30% {
    text-shadow: none;
  }
  100% {
    opacity: 0;
    transform: translateY(110%);
  }
}

.ui-flash {
  overflow: hidden;
  transform: translateY(110%);
  line-height: 1;
  &.animate {
    animation: slideInOut 3s;
  }

  @apply text-xl;

  &--win {
    @apply text-8xl;
  }
  &--danger {
    color: #990b0b;
  }
}
