@mixin monospace {
  font-family: 'Courier New', Courier, monospace;
}

// @import 'theme';
@import 'ui';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #82ceed;
  padding: 2rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.stack {
  display: flex;
  & > *:not(:first-child) {
    margin-left: 2rem;
  }
  @media screen and (max-width: 1400px) {
    display: block;
    & > * {
      margin-left: 0 !important;
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }
}

#game {
  border: 2px solid black;
}

#title {
  @include monospace;
  color: white;
  font-size: 2.5rem;

  padding: 0;
  margin: 0;
  padding-bottom: 2rem;
}

#directions {
  max-width: 1000px;
  border: 2px solid black;
  padding: 1rem;

  @include monospace;
  font-size: 1rem;
  color: white;

  h2,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  h2 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
  }

  p,
  ul {
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 0.5rem;
  }
  ul li {
    padding: 0.25rem;
  }
  code {
    margin-right: 0.5rem;
  }
}

code {
  background: #e9e9e9;
  border-radius: 4px;
  padding: 1px 3px;
  color: #dd3232;
}
