extends ../node_modules/webpack-boiler/template.pug
 
block page_content
  h1#title Fantastic Contraption
  .stack
    #game_container
      canvas#game
    #directions
      header
        strong Legend:
      ui
        li
          code [SPACE]
          span Pause/Resume
        li
          code R
          span Restart
        li
          code T
          span Switch between Editor/Play
        li
          span Scroll to zoom in and out
        li
          span Hold right click and drag OR use the arrow keys to pan
