extends ../node_modules/webpack-boiler/template.pug
 
block page_content
  .container
    h1#title Articulus
    .stack
      #game_container
        canvas#game
      #directions
        h2 Objective:
        p Nothing for now. Enjoy the physics sandbox!

        h2 Legend:
        ul
          li
            code [SPACE]
            span Pause/Resume
          li
            code R
            span Restart
          li
            code T
            span Switch between Editor/Play
          li
            code CTRL
            span + mouse scroll to zoom in and out
          li
            span Hold right click and drag OR use the arrow keys to pan the camera
